/*This is for swipe*/
.ideaPane {
  background-color: #333;
}

.swipe-cards {
  position: fixed;
}

swipe-card {
  display: none;
  position: fixed;
  -webkit-transform: scale(1,1);
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-left: -150px;
  margin-top: -150px;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation-fill-mode: forwards;
}

swipe-card .title {
  height: 40px;
  padding: 5px;
  line-height: 30px;
  color: #444;
}
swipe-card .image {
  overflow: hidden;
  max-height: 210px;
}
swipe-card .button {
  border: none;
}
swipe-card .image img {
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

#start-card {
  color: #fff;
  background-color: #11C1F3;
  line-height: 250px;
  word-wrap: break-word;
  border: 6px solid #11C1F3;
  text-align: center;
}
#start-card span {
  display: inline-block;
  line-height: 40px;
  width: 200px;
  font-size: 30px;
  vertical-align: middle;
}

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0,0);
  }
  70% {
    -webkit-transform: scale(1.2,1.2);
  }
  100% {
    -webkit-transform: scale(1,1);
  }
}

swipe-card.pop-in-start {
  -webkit-transform: scale(0,0);
}
swipe-card.pop-in {
  -webkit-animation: bounceIn 0.4s ease-out;
}

/*My idea card size*/
.myCard{
  float:left;
  height:120px;
  width: 173px;
}

.cardBackground{
  background-color: #333;
}

/*menu rendering*/
.menuBar{
  opacity: 70;
}

.background{
  background: url(../img/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.test{
  width: 100%;
  max-width:100%;
  margin: 0 auto;
  margin-top:130px;
  align-content: center;
}
